<!DOCTYPE html>
<html lang="en" style="zoom: 80%">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="style.css">

    <title>Movie Recommendation</title>

    <script src="main.js"></script>

</head>

<nav>
    <h1>Movie Recommendations</h1>
    <a href="home.html">Home</a>
    <a href="/graph">Graphs</a>
</nav>

<!--code for background color used in the body tag-->
<!--Source for the code: https://codepen.io/joshyporkchops/pen/JxGyZp-->
<!--Original Code: <body style="background-color:#556;
background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
background-size:80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;">
</body>-->
<!--Added by: Bogdan Postolachi-->
<body onload="loadRecs();" style="background-color:#556;
background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
background-size:80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;">

    <br>

    <div id="addRecDiv">
        <form onsubmit="return false;">
            <h2>Add Recommendation</h2>
            <label for="">Reviewer</label>
            <input type="text" name="" id="reviewerIn"><br><br>
            <label for="">Movie Name</label>
            <input type="text" name="" id="movieIn"><br><br>
            <label for="">Release Year</label>
            <input type="number" min="1950" max="2026" id="rsIn"><br><br>
            <label for="">Publisher</label><br>
            <input type="text" name="" id="publisherIn"><br><br>
            <label for="">Rating</label>
            <input type="number" min="0" max="10" id="ratingIn"><br><br><br>
            <label for="">Review</label><br>
            <input type="text" name="" id="reviewIn"><br><br><br>
            <button onclick="addRec()" id="addBtn">Add Recommendation</button>
        </form>
    </div>

    <div id="editRecDiv" hidden>

    </div>

    <div id="recDiv">
        <h2 id="title">Recommendations</h2>
        <p id="recommendations"></p>
    </div>

</body>

</html>